/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

li {
    list-style-type: none;
}

main {
    max-width: 1000px;
    margin: auto;
}

footer {
    background-color: rgb(236, 238, 236, 0.8);
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-family: "Urbanist";
    font-size: 28px;
}

h2 {
    margin: 0;
    text-align: center;
}

main section {
    padding: 20px 0px;
}

/* LINKS */

a {
    text-decoration: none;
}

li a {
    color: black;
    padding: 6px 10px;
    font-size: smaller;
    border-radius: 10px;
}

li a:hover {
    background-color: rgb(228, 227, 227);
}

footer a {
    color: black;
}

footer a:hover {
    color: rgb(240, 152, 132);
}

/* TABLE */

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
}

td {
    border: 0.75px solid rgb(40, 127, 104);
    border-left: none;
    border-right: none;
    padding: 20px;
}

/* PAGE */

#page-wrapper {
    color: rgb(1, 25, 54);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

/* HEADER */

#header-wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 20px 20px 0px 20px;
}

#header-overlay {
    background-color: rgb(242, 242, 242);
}

#hamburger-menu-button {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

#hamburger-menu-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* INTRODUCTION */

#introduction-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#introduction-background {
    background-image: url("./images/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#introduction-overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

#introduction-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

#photo-women {
    max-width: 60%;
    border-radius: 10%;
    object-fit: cover;
    outline: 1px solid rgb(237, 235, 233);
    outline-offset: -10px;
}

#motto {
    font-size: 52px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(240, 152, 132);
    margin: 0;
}

#motto-small {
    font-size: 20px;
    margin: 0;
}

/* FOOTER */

#footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#footer-overlay {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

#copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: smaller;
    color: rgb(73, 73, 73);
}

#google-map {
    width: 600px;
    height: 250px;
    border: 0;
}

/* SECTION: ABOUT */

#about-wrapper {
    display: flex;
    gap: 20px;
}

#about-name {
    font-weight: 700;
    display: flex;
    justify-content: right;
}

#img-hana {
    max-width: 200px;
    border-radius: 50%;
    outline: 1px solid rgb(237, 235, 233);
    outline-offset: -10px;
}

/* SECTION: PRICES */

#heading-prices {
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* GENERAL STYLES */
    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }

    ul {
        margin: 0;
        gap: 10px;
    }

    h1 {
        max-width: 75vw;
    }

    main section {
        padding: 20px;
    }

    /* LINKS */

    li a {
        padding: 0;
    }

    /* HEADER */

    #hamburger-menu-button {
        display: flex;
    }

    #navbar-links {
        display: none;
        width: 100%;
        align-items: center;
    }

    #navbar {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    #navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    #navbar-links li {
        text-align: center;
    }

    #navbar-links.active {
        display: flex;
    }

    /* INTRODUCTION */

    #photo-women {
        max-width: 100%;
    }

    #introduction-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #motto {
        font-size: 24px;
    }

    #motto-small {
        font-size: 16px;
    }

    /* FOOTER */

    #footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #google-map {
        width: 100%;
        height: 200px;
        border: 0;
    }

    /* SECTION: ABOUT */

    #about-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }
}
